<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li>
            <h1>Repertório Musical</h1>
        </li>
    </ol>
</nav>
<div class="container">
    <div class="card list-music">
        <h5 class="card-header">Musicas de Buteco</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Musica</th>
                        <th scope="col">Cantor</th>
                        <!-- <th scope="col">Id</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let music of musics">
                        <td>{{music.musica}}</td>
                        <td>{{music.cantor}}</td>
                        <!-- <td>{{music.id}}</td> -->
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" (click)="editMusic(music)">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteMusic(music)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card add-music">
        <h5 class="card-header">Adicionar/Atualizar music</h5>
        <div class="card-body">


            <div class="form-group">
                <label for="musica">Musica</label>
                <input type="text" [(ngModel)]="music.musica" id="musica" name="musica" #musica="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && musica.invalid }" placeholder="Digite o musica">
                <div *ngIf="f.submitted && musica.invalid" class="invalid-feedback">
                    <div *ngIf="musica.errors.required">Musica é obrigatória</div>
                </div>
            </div>

            <form id="add-form" (ngSubmit)="f.form.valid && saveMusic(f)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="cantor">Cantor</label>
                    <input type="text" [(ngModel)]="music.cantor" id="cantor" name="cantor" #cantor="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cantor.invalid }" placeholder="Digite o cantor">
                    <div *ngIf="f.submitted && cantor.invalid" class="invalid-feedback">
                        <div *ngIf="cantor.errors.required">O cantor é obrigatório</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-add-music">Salvar</button>
                <button type="reset" class="btn btn-secondary btn-add-music" (click)="cleanForm(f)">Cancelar</button>
            </form>
        </div>
    </div>
</div>


<router-outlet></router-outlet>